      <div class="container_12">
        <div class="grid_4">
          关于Django-China.org
          <ul>
            <li><a href="#">关于</a></li>
            <li><a href="#">版权声明</a></li>
            <li><a href="#">联系我们</a>
          </ul>
        </div>
        <div class="grid_4">
          社区参与
          <ul>
            <li><a href="http://github.com/wwq0327/django-china/">贡献源码</a></li>
            <li><a href="#">贡献内容</a></li>
            <li><a href="#">社区维护</a></li>
          </ul>
        </div>
        <div class="grid_4">
          &copy;2012 Django-China.org Inc. All rights reserved.
        </div>
      </div>
