<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/text.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/960.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css" media="screen">

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tops.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/pro.js"></script>

    <title>{% block title %}{% endblock %} - Django-China.org</title>
  </head>
  <body>
    <div id="header">
      <div class="container_12">
        <div class="grid_3">
          <div id="logo"><a href="/">Django-China</a></div>
        </div>

        <div class="grid_3">
          <form action="/search"  method="get">
            <input type="text" name="q" placeholder="搜索" />
          </form>
        </div>

        <div id="nav">
        <div class="grid_6">
            <ul id="big_nav">
              <li><a href="/">首页</a></li>
              <li><a href="#">社区</a></li>
              <li><a href="/wiki/index/">Wiki</a></li>
              <li><a href="{% url sites_index %}">酷站</a></li>
              {% if user.is_authenticated %}
              <li><a href="/people/{{ user.username }}/">个人页面</a></li>
              <li><a href="/accounts/signout/">退出</a></li>
              {% else %}
              <li><a href="/accounts/signin/">登录</a></li>
              <li><a href="/accounts/signup/">注册</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>
    <div class="container_12" id="main">
      <div class="grid_12">
        <div id="content-title">
        {% block content_title %}{% endblock %}
        </div>
      </div>
    </div>

    {% block main %} {% endblock %}
    <div class="clear"></div>
    <div id="footer">
      {% include "_footer.html" %}
    </div>
  </body>
{% block extjs %}{% endblock %}
</html>
