{% extends "coolsites/base.html" %}

{% block title %}Django 酷站{% endblock %}

{% block content_title %}Django 酷站{% endblock %}

{% block main %}

<div class="container_12" id="main">
  <div class="grid_12">
    如果你所知道的基于Django开发的网站不在下面的列表中，请你<a href="{% url sites_create %}">添加</a>上。
  </div>
</div>

{% if sc %}
{% for c in sc %}
<div class="container_12" id="main">
  <div class="grid_12">
    <div class="site-fl">{{ c.name|safe }}</div>
    <div class="site-nr">
    {% if c.coolsites_set.all %}
      <ul>
        {% for site in c.coolsites_set.all %}
        <li><a href="{{ site.site|safe }}" title="{{ site.about|linebreaksbr }}" target="_blank">{{ site.name|safe }}</a></li>
        {% endfor %}
      </ul>
    {% else %} 本分类暂时无相关网站 {% endif %}
    </div>
    </div>

  </div>
</div>
{% endfor %}
{% else %}
  <p>暂无分类<p>
{% endif %}

{% endblock %}
