{% extends "coolsites/base.html" %}

{% block content_title %}　cool sites!{% endblock %}

{% block main %}

<div class="container_12" id="main">
  <div class="grid_12">
    如果你所知道的基于Django开发的网站不在下面的列表中，请你<a href="{% url sites_create %}">添加</a>上。
  </div>
</div>

<div class="container_12" id="main">
  <div class="grid_12">
    <div class="site-fl">商业类</div>
    <div class="site-nr">
      <ul>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="container_12" id="main">
  <div class="grid_12">
    <div class="site-fl">商业类</div>
    <div class="site-nr">
      <ul>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
      </ul>
    </div>
    </div>
  </div>
</div>

<div class="container_12" id="main">
  <div class="grid_12">
    <div class="site-fl">商业类</div>
    <div class="site-nr">
      <ul>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
        <li>site1</li>
      </ul>
    </div>
    </div>
  </div>
</div>

{% endblock %}
