{% extends "base.html" %}

{% block content_title %}
欢迎来到 Django 中文社区！
{% endblock %}

{% block main %}

<div class="container_12" id="main">
  <div class="grid_12" style="text-align: center">
    <p></p>
    <p><img src="{{ MEDIA_URL }}img/django.jpg" alt="django"></p>
    <p>Django-China.orgn致力于构建完善的 Django 中文社区。</p>
    <p>我们期待能集中更多的 Ｄjango 中文用户力量，共同分享交流关于 Ｄjango 的开发与使用。</p>
    <p>本站尚在开发中，欢迎<a href="https://github.com/wwq0327/django-china/">贡献源码</a>。</p>
    <p>同时也欢迎你加入到社区的维护中来，让 Ｄjango 在中国发展得更好，联系 wwq0327 at gmail dot com。</p>

  </div>
</div>

{% endblock %}
