{% extends "markupwiki/base.html" %}

{% block extrahead %}
<style type="text/css">
    table.diff {font-family:Courier; border:medium; width: 100%; }
    table.diff td { padding: 1px; }
    .diff_header {background-color:#e0e0e0}
    td.diff_header {text-align:right}
    .diff_next {background-color:#c0c0c0}
    .diff_add {background-color:#aaffaa}
    .diff_chg {background-color:#ffff77}
    .diff_sub {background-color:#ffaaaa}
</style>
{% endblock %}

{% block content_title %}
Wiki / 条目{{article.title}} {{from}} 与 {{to}}　间的差异
{% endblock %}

{% block main %}
<div class="container_12" id="main">
<div class="grid_12">

{% block content %}

<br style="clear: both;">
{{ table|safe }}
{% endblock content %}
</div>
{% endblock main %}
