{% extends "markupwiki/base.html" %}

{% block extrahead %}
<style type="text/css"> 
    table.diff {font-family:Courier; border:medium;}
    table.diff td { padding: 1px; }
    .diff_header {background-color:#e0e0e0}
    td.diff_header {text-align:right}
    .diff_next {background-color:#c0c0c0}
    .diff_add {background-color:#aaffaa}
    .diff_chg {background-color:#ffff77}
    .diff_sub {background-color:#ffaaaa}
</style>
{% endblock %}

{% block content %}
<h2>comparison of {{article.title}} revision {{from}} to {{to}}</h2>
<br style="clear: both;">
{{ table|safe }}
{% endblock content %}
