{% extends "markupwiki/article.html" %}

{% block content_title %}Wiki /

    {% if article %}
        编辑 "{{title}}"
    {% else %}
        创建 "{{title}}"
    {% endif %}

{% endblock %}

{% block article_meta %}
    {% if article %}
        <a href="{% url view_article article.title %}">查看</a> |
        <a href="{% url article_history article.title %}">历史</a>
    {% endif %}
{% endblock %}

{% block article_body %}
<form method="POST" action=".">
    {% csrf_token %}
    <ul>
        <li>{{form.body}}</li>
        <li>{{form.comment.label_tag}} {{ form.comment }} </li>
        <li>{{form.body_markup_type.label_tag}} {{ form.body_markup_type }} </li>
    <li>
        <button class="submitBtn" type="submit">
            <span>保存</span>
        </button>
    </li>
    </ul>
</form>
{% endblock %}

