{% extends "markupwiki/article.html" %}

{% block content_title %}Wiki /
{{article.title}} [历史]
{% endblock %}

{% block article_meta %}
    <a href="{% url view_article article.title %}">查看</a>
    {% if article.editable %}
        <a href="{% url edit_article article.title %}">编辑</a> |
    {% endif %}
{% endblock %}

{% block article_body %}

    <form action="{% url revert article.title %}" method="post">
        <label for="revert-version">恢复到</label>
        <select name="revision" id="revert-version">
            {% for version in versions reversed %}
                {% if not forloop.first %}
                    <option value="{{ version.number }}">
                        {% if version.number == 0 %}
                            版本 0
                        {% else %}
                            {{ version.number }}
                        {% endif %}
                    </option>
                {% endif %}
            {% endfor %}
        </select>

        <button class="compareBtn" type="submit">
            <span>确认恢复</span>
        </button>

    </form>

<table class="wiki-table">
<thead> <tr>
    <th>版本</th>
    <th>作者</th>
    <th>时间</th>
    <th>原因</th>
    <th>当前</th>
    <th>先前</th>
</tr></thead>
<tbody>
<form action="{% url article_diff article.title %}" method="GET">
{% for version in versions %}
<tr>
    <td><a href="{{version.get_absolute_url}}">
    {% ifequal version.number 0 %}
        版本 0
    {% else %}
        版本 {{version.number}}
    {% endifequal %}
    </a></td>
    <td>{{version.author}}</td>
    <td><a href="{{version.get_absolute_url}}">{{version.timestamp|date:"Y-m-d H:i:s"}}</a></td>
    <td>{{version.comment|default:""}}</td>
    <td><input type="radio" name="from" value="{{version.number}}"></td>
    <td><input type="radio" name="to" value="{{version.number}}"></td>
</tr>
{% endfor %}
</tbody>
</table>

<button class="compareBtn" type="submit">
    <span>版本比较</span>
</button>
</form>

{% endblock %}
