{% extends "topics/base.html" %}
{% load gravatar %}
{% load comments %}
{% load i18n %}
{% load pagination_tags %}
{% block title %}社区{% endblock %}

{% block content_title %}
  <a href="{% url tc_index %}">社区</a> /
{% if not is_node %}
  <a href="{% url tc_index %}">所有贴子</a>
{% else %}
  <a href="{{ is_node.get_absolute_url }}">{{ is_node.name }}</a>
{% endif %}
{% endblock %}

{% block content %}
{% if is_node %}
  <div class="node-box">
    <div class="node-title">{{ is_node.name }} 共有 {{ topics.count }} 个主题讨论</div>
    <div class="node-about">{{ is_node.about }}</div>
  </div>
{% endif %}

{% if topics %}
  {% autopaginate topics %}
  {% for topic in topics %}
<div class="topics_list">
  <div class="tc_left user-img"><img src="{% gravatar_url topic.creater.email 48 %}"></img></div>
  <div class="tc_right">
    <div class="tcs_title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></div>
    {% get_comment_count for topics.topic topic.id as comment_count %}
    <div class="topic-comment-count"><a href="{{ topic.get_absolute_url }}#c">{{ comment_count }}</a></div>
    <div>由 <a href="{% url p_index topic.creater.username %}">{{ topic.creater.username }}</a> 在 <a href="{{ topic.node.get_absolute_url }}">{{ topic.node.name }} </a>中发起</div>
    <div>发布于{{ topic.pub_date|timesince }}, 最后回复于{{ topic.last_reply|timesince }}前</div>
  </div>
</div>
  {% endfor %}
{% else %}
  暂无数据
{% endif %}
<div class="pagi">{% paginate %}</div>
{% endblock %}

{% block sidebar %}

<div class="topic-box">
  <div class="box-title">讨论节点</div>
  <div class="box-content">
    <ul>
      {% for node in nodes %}
      <li><a href="{{ node.get_absolute_url }}">{{ node.name }} </a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
