{% extends "topics/base.html" %}
{% load gravatar %}
{% load comments %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content_title %}<a href="{% url tc_index %}">社区</a> / 浏览贴子{% endblock %}

{% block content %}

{% get_comment_list for topics.topic topic.id as comment_list %}
{% get_comment_count for topics.topic topic.id as comment_count %}

<div class="topics_list">
  <div class="tc_title">{{ topic.title }}</div>
  <div class="tc_left user-img-s"><img src="{% gravatar_url topic.creater.email 32 %}"></img></div>
  <div class="tc_right">
  <div class="tc_info">
    <div>
      由 <a href="{% url p_index topic.creater.username %}">{{ topic.creater.username }} </a>在 <a href="{{ topic.node.get_absolute_url }}">{{ topic.node.name }}</a> 中发起
      {% if is_edit %}
      <a href="{% url tc_edit topic.pk %}">编辑主题</a>
      {% endif %}
    </div>
    <div>发布于{{ topic.pub_date|timesince }}前, {% if comment_count %}最后回复于{{ topic.last_reply|timesince }}前{% else %}暂无回复{% endif %}</div>
  </div>
  </div>
</div>
<div class="topic_content">
  {{ topic.content_html|safe }}
</div>

<div class="topic-list-comment">
  <div class="topic-count">
    共有 {{ comment_count }} 条回复
  </div>
  {% for comment in comment_list %}
  <div class="comment-one">
    <div class="tc_left user-img-s"><img src="{% gravatar_url comment.user.email 32 %}"></img></div>
      <div class="tc_right">
        <div>
          <a href="{% url p_index comment.user.username %}">{{ comment.user.username }}</a>
<!--
          {#
          {% if request.user == comment.user %}
          [<a href="{% url comments-delete comment.id %}">删除回复</a>]
          {% endif %}
          #}
-->
        </div>
        <div class="cc_reply">
          <a href="{% get_comment_permalink comment %}">#{{ forloop.counter }}</a> 于  {{ comment.submit_date|timesince }}前说道：
        </div>
        <div class="comment-content">{{ comment.comment|escape|linebreaks }}</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="comment-form">
  <div class="cm-yousay">你想说 ...</div>
  <div class="this-form">
    {% render_comment_form for topics.topic topic.id %} <a name="#c"></a>
  </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}
