{% extends "topics/base.html" %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content_title %}<a href="{% url tc_index %}">社区</a> / 浏览贴子{% endblock %}

{% block content %}
<div class="topics_list">
  <div class="">
    <h4>{{ topic.title }}</h4>
  </div>
  <div>由 {{ topic.creater.username }} 在 {{ topic.node.name }} 中发起</div>
  <div>发布时间：{{ topic.pub_date|date:"Y-m-d H:i" }}。</div>
</div>
<div class="topic_content">
  {{ topic.content_html|safe }}
</div>
{% endblock %}

{% block sidebar %}
side
{% endblock %}
